<article class="order-card">
    <header>
        <h2>Pedido #{{ order().id }}</h2>
        <p>Cliente #{{ order().userId }}</p>
    </header>

    <div class="order-products">
        @for (product of order().products; track product.id) {
        <div class="order-product">
            <span>{{ product.title }}</span>
            <span>Cantidad: {{ product.quantity }}</span>
            <strong>${{ product.total.toFixed(2) }}</strong>
        </div>
        }
    </div>

    <footer>
        <span>Total de productos: {{ order().totalProducts }}</span>
        <strong>Total: ${{ order().total.toFixed(2) }}</strong>
    </footer>
    <button type="button" (click)="viewDetails.emit(order().id)">
        Ver detalle
    </button>
</article>